*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden; /* чтобы не было скролла */
}

img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}
